<%- include('admin-header.ejs') %>
<style>
  .img-1 {
    height: 30%;
  }
</style>
<hr />
<div class="content">
  <% if(messages.info){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>info! </strong><%= messages.info %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <a class="btn btn-success" href="/admin/add-coupon">Add Coupon</a>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(coupons.length > 0){ %> <% coupons.forEach((coupon)=>{ %> <% let
      dates = coupon.createdAt.toString().split(" "); let b= []; for(let
      i=1;i<4;i++){ b.push(dates[i]); } let c = b.join(" "); %>
      <tr>
        <td><img src="<%= coupon.imgUrl %>" class="img-1" alt="" /></td>
        <td><%= coupon.title %></td>

        <td class="td-actions text-right">
          <a
            href="/admin/<%= coupon.urlTitle %>?edit=true"
            rel="tooltip"
            class="btn btn-info"
          >
            <i class="material-icons">edit</i>
          </a>
          <a
            href="/coupon/<%= coupon.urlTitle %>"
            rel="tooltip"
            class="btn btn-success"
            target="_BLANK"
          >
            <i class="material-icons">remove_red_eye</i>
          </a>
          <form action="/admin/delete-coupon" method="post">
            <input type="hidden" name="_id" value="<%= coupon._id %>" />
            <button type="submit" value="delete" class="btn btn-danger">
              <i class="material-icons">delete</i>
            </button>
          </form>
        </td>
      </tr>
      <% }) %> <% } else { %>
      <tr>
        <td>No Coupons found</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<!-- Page Header -->

<%- include("admin-footer.ejs") %>
