<%- include("admin-header.ejs") %>
<link rel="stylesheet" href="/css/style.css" />
     <div class="content">
<div class="container">
    <div class="row">
        <div class="col-12 centered">
            <div class="shadowd shadowd-2">
                <h1>Edit Coupon</h1>
                <form action="/admin/edit-coupon" method="POST">
                    <!-- <label for="title" class="text-1">Title</label> -->
                    <input type="hidden" name="urlTitle" value="<%= coupon.urlTitle %>">
                    <input type="text" class="inp-1" name="title" id="title" placeholder="Title" value="<%= coupon.title %>">
                    <input type="text" class="inp-1" name="imgUrl" id="imgUrl" placeholder="imgUrl" value="<%= coupon.imgUrl %>">
                    <input type="text" class="inp-1" name="description" id="description" placeholder="description" value="<%= coupon.description %>">
                    <textarea name="body" id="body" cols="10" rows="30" class="inp-1" placeholder="body"><%- coupon.body %></textarea>
                    <input type="text" class="inp-1" name="enrollUrl" id="enrollUrl" placeholder="enrollUrl" value="<%= coupon.enrollUrl %>">
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<%- include("admin-footer.ejs") %>

<script src="https://cdn.tiny.cloud/1/fna12qhk7sx1fzdby0ndix80x6kgnxv3pydhcm1u31rb3a0z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: '#body',
      plugins: [
    "advlist autolink lists link image charmap print preview anchor",
    "searchreplace visualblocks code fullscreen",
    "insertdatetime media table paste imagetools wordcount"
  ],
  toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tiny.cloud/css/codepen.min.css'
  ]
    });
  </script>