<%- include('admin-header.ejs') %>
<style>
  .img-1 {
    height: 30%;
  }
</style>
<div class="content">

  <table class="table">
    <thead>
      <tr>
        <th>username</th>
        <th>role</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(members.length > 0){ %>
        <% members.forEach((member)=>{ %>
      <tr>
        <td><%= member.username %></td>
        <td><select id="role">
          <option value="<%= member.role %>"><%= member.role %></option>
          <% if (member.role === "member"){ %>
          <option value="admin">admin</option>
              <% } else { %>
          <option value="member">member</option>
              <%} %></td>

      </tr>
      <% }) %>
      <% } else { %>
      <tr><td>No Coupons found</td></tr>
      <% } %>
    </tbody>
  </table>
</div>
<!-- Page Header -->

<%- include("admin-footer.ejs") %>

