<%- include('layouts/header.ejs') %>

  <!-- Page Header -->
  <header class="masthead" style="background:linear-gradient(to left top,rgb(12, 241, 241),rgb(193, 20, 216),rgb(240, 7, 7))">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coupon Adda</h1>
            <span class="subheading">Free coupon codes</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  

<div class="container c-con-1">
    <% if(coupons.length > 0){ %>
        <% coupons.forEach((coupon)=>{ %>
            <% let dates = coupon.createdAt.toString().split(" "); let b= []; for(let i=1;i<4;i++){ b.push(dates[i]); } let c = b.join(" "); %>
    <div class="row">
        <div class="col-12 shadowd">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="<%= coupon.imgUrl %>" class="img-1" alt="<%= coupon.title %>">
                </div>
                <div class="col-12 col-md-8 centered med-1">
                    <div class="post-preview">
                        <a href="/coupon/<%= coupon.urlTitle %>">
                          <h2 class="post-title">
                            <%= coupon.title %>
                          </h2>
                          <h3 class="post-subtitle">
                            <%= coupon.description %>
                          </h3>
                        </a>
                        <p class="post-meta">Posted by
                          <a href="#">chirag </a><%= c %></p>
                      </div>
                </div>
            </div>
           
        </div>
    </div>
    <% }) %>
    <% } else { %>
        <h1>No Coupons Found</h1>
    <% } %>
</div>
</body>
<%- include('layouts/footer.ejs') %>