<%- include('layouts/header.ejs') %>
<body>
  <!-- Page Header -->
  <header
    class="masthead"
    style="background-image: url('<%= coupon.imgUrl %>')"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= coupon.title %></h1>
            <h2 class="subheading">
              <%= coupon.description %>
            </h2>

            <span class="meta"
              >Posted by
              <a href="#">Chirag</a>
              on <%= coupon.createdAt %>
              <p>Views: <%= views %></p></span
            >
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto" id="spanner">
          <%- coupon.body %>
        </div>
      </div>
    </div>
    <br />
    <div class="enr-per-1 text-center">
      <a
        href="<%= coupon.enrollUrl %>"
        class="btn-enroll btn btn-success"
        target="_BLANK"
        >Enroll Now</a
      >
    </div>
  </article>
  <hr />
  <div class="container">
    <div id="disqus_thread"></div>
    <div class="featured">
      <h1 class="text-center">Last Added Coupons</h1>

      <% if(popular.length > 0){ %>
      <div class="row">
        <% popular.forEach((coupon)=>{ %> <% let dates =
        coupon.createdAt.toString().split(" "); let b= []; for(let i=1;i<4;i++){
        b.push(dates[i]); } let c = b.join(" "); %>
        <div class="col-12 col-md-3 mr-10 shadowd">
          <div class="row">
            <div class="col-12">
              <img
                src="<%= coupon.imgUrl %>"
                class="img-1"
                alt="<%= coupon.title %>"
              />
            </div>
            <div class="col-12 centered med-1">
              <div class="post-preview">
                <a href="/coupon/<%= coupon.urlTitle %>">
                  <h3 class="post-title">
                    <strong class="text-cstm">
                      <%= coupon.title %>
                    </strong>
                  </h3>
                  <p class="post-subtitle text-cstm-2">
                    <%= coupon.description %>
                  </p>
                </a>
                <p class="post-meta ">
                  Posted by <a href="#">chirag </a><%= c %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <p>No Coupons Found</p>
        <% } %>
      </div>
    </div>
  </div>

  <script>
    (function() {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://couponshub.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript"
      >comments powered by Disqus.</a
    ></noscript
  >
</body>
<%- include('layouts/footer.ejs') %>
